$txt-1: #010101;
$txt-2: #ff0000;
$txt-fff: #ffffff;
$txt-3: #333333;
$border-1: #5764c0;
$border-2: #f0f0f0;
$border-3:#e0e0e0;
$txt-4: #403f4c;
$txt-5: #003894;
$txt-6: #666666;
$bg-1: #e3ebfe;
$bg-2: #f7f7f7;
$bg-3: #5271d4;
$txt-7: #3185fc;
$txt-8: #999999;
$bg-4: #f2f7ff;
$bg-5: #f4f5f7;
$bg-6: #fafafa;
$txt-9: #303030;
$bg-7: #4f6dd2;